Let's start with your project: 

Are you a data scientist? 

I think you are an awesome a data scientist.

### **Problem** 
**Our goal is to create a predictive model that can answer the following question:**

**What kind of people had a better chance of surviving?**

**Data about passengers:**
*   Name
*   Age
*   Gender.

## Install and Import Libraries
Let's install PySpark:

In [3]:
import findspark
findspark.init()
# importing libraries
from pyspark import SparkContext
from pyspark.sql import SparkSession

## Build Spark Session

In [4]:
spark = SparkSession.builder.appName('Practical-01-Yousri').getOrCreate()

21/11/04 10:48:05 WARN Utils: Your hostname, yousri-Lenovo-Legion-5-15IMH05H resolves to a loopback address: 127.0.1.1; using 172.16.2.196 instead (on interface wlp0s20f3)
21/11/04 10:48:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.0.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/11/04 10:48:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/04 10:48:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

## Data Loading

You have two datasets: 
* Train  
* Test.

Read two datasets: 
* Train
* Test.

In [46]:
from pyspark.sql.types import (StructType, StructField,
                               StringType, IntegerType, DoubleType)

In [8]:
# recordSchema = StructType([StructField('PassengerId', IntegerType(), True),
#                            StructField('Survived', IntegerType(), True),
#                            StructField('Pclass', IntegerType(), True),
#                           StructField('Name', StringType(), True),
#                           StructField('Sex', StringType(), True),
#                           StructField('Age', IntegerType(), True),
#                           StructField('SibSp', IntegerType(), True),
#                           StructField('Parch', IntegerType(), True),
#                           StructField('Ticket', StringType(), True),
#                           StructField('Fare', IntegerType(), True),
#                           StructField('Cabin', FloatType(), True),
#                           StructField('Embarked', StringType(), True),
#                          ])

NameError: name 'FloatType' is not defined

In [13]:
df_train = spark.read.csv('train.csv',header = True,inferSchema=True)
df_test = spark.read.csv('test.csv',header = True,inferSchema=True)

Let's work with train dataset:

**Confirm if this is a dataframe or not:**

In [11]:
type(df_train)

pyspark.sql.dataframe.DataFrame

In [12]:
type(df_test)

pyspark.sql.dataframe.DataFrame

**Show 5 rows.**

In [10]:
df_train.head(5)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S'),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S'),
 Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S'),
 Row(PassengerId=5, Survived=0, Pclass=3, Name='Allen, Mr. William Henry', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket='373450', Fare=8.05, Cabin=None, Embarked='S')]

**Display schema for the dataset:**

In [14]:
df_train.printSchema()
df_test.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

**Statistical summary:**

In [19]:
df_train.describe().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

In [92]:
df_test.summary().show()

+-------+------------------+------------------+------------------+--------------------+------+------------------+-----------------+------------------+------------------+-----------------+-----+--------+
|summary|       PassengerId|          Survived|            Pclass|                Name|   Sex|               Age|            SibSp|             Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+------------------+------------------+------------------+--------------------+------+------------------+-----------------+------------------+------------------+-----------------+-----+--------+
|  count|               438|               438|               438|                 438|   438|               350|              438|               438|               438|              438|  104|     437|
|   mean|             219.5|0.3721461187214612|2.2831050228310503|                null|  null|30.855485714285713| 0.45662100456621| 0.365296803652968|228762.85970149253|32.04006803652967| null|    null|
| stddev|126.58396422928143|0.4839298099728147| 0.851563345160767|                null|  null|14.884232312749964|1.020023555036897|0.8139972722947301| 416628.4618395599|50.40455507146085| null|    null|
|    min|                 1|                 0|                 1|"Angle, Mrs. Will...|female|              0.42|                0|                 0|            110152|              0.0|  A10|       C|
|    25%|               110|                 0|                 1|                null|  null|              21.0|                0|                 0|           17453.0|           7.8958| null|    null|
|    50%|               219|                 0|                 3|                null|  null|              30.0|                0|                 0|          113807.0|          14.4542| null|    null|
|    75%|               329|                 1|                 3|                null|  null|              39.0|                1|                 0|          348121.0|           31.275| null|    null|
|    max|               438|                 1|                 3|van Melkebeke, Mr...|  male|              80.0|                8|                 6|         WE/P 5735|         512.3292|   F4|       S|
+-------+------------------+------------------+------------------+--------------------+------+------------------+-----------------+------------------+------------------+-----------------+-----+--------+

## EDA - Exploratory Data Analysis

**Display count for the train dataset:**

In [20]:
df_train.count()

891

**Can you answer this question:** 

**How many people survived, and how many didn't survive?** 

**Please save data in a variable.**

In [24]:
from pyspark.sql.functions import *

In [42]:
df_train.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [44]:
survived_True = df_train.where((col("Survived") == 1).alias('Survived Bool')).count()
survived_False = df_train.count() - survived_True
print(survived_True, survived_False)

342 549

In [85]:
survived_count = df_train.groupBy('Survived').count()
survived_count.show()

+--------+-----+
|Survived|count|
+--------+-----+
|       1|  342|
|       0|  549|
+--------+-----+

**Can you display your answer in ratio form?(Hint: Use "UDF" Function. (Hint: Use "UDF" Function. This is a hint you can use any method.)**

In [45]:
# import org.apache.spark.sql.functions.udf package
from pyspark.sql.functions import udf
from pyspark.sql.types import *

In [115]:
# def ratio(df):
#     return df.select(col('count')).take()/df.agg({'count' : 'sum'}).take(1)[0][0]

In [125]:
total = df_train.count()
@udf(returnType=FloatType()) 
def ratio(num):
    return num/total

survived_count.withColumn("ratio", ratio(col("count"))).show(truncate=False)

+--------+-----+----------+
|Survived|count|ratio     |
+--------+-----+----------+
|1       |342  |0.3838384 |
|0       |549  |0.61616164|
+--------+-----+----------+

**Can you get the number of males and females?**

In [86]:
sex_count = df_train.groupBy('Sex').count()
sex_count.show()

+------+-----+
|   Sex|count|
+------+-----+
|female|  314|
|  male|  577|
+------+-----+

**1. What is the average number of survivors of each gender?**

**2. What is the number of survivors of each gender?**

(Hint: Group by the "sex" column. This is a hint you can use any method.)

In [119]:
# get survived by gender:
sex_count = df_train.groupBy(['Sex']).count()
sex_count.show()

# get survived by gender:
survived_sex_count = df_train.groupBy(['Sex','Survived']).count()
survived_sex_count.show()

+------+-----+
|   Sex|count|
+------+-----+
|female|  314|
|  male|  577|
+------+-----+

+------+--------+-----+
|   Sex|Survived|count|
+------+--------+-----+
|  male|       0|  468|
|female|       1|  233|
|female|       0|   81|
|  male|       1|  109|
+------+--------+-----+

In [122]:
females= sex_count.take(2)[0][1]
males= sex_count.take(2)[1][1]
print(females , males)

314 577

In [126]:
survived_sex_count.withColumn("ratio", ratio(col("count"))).show(truncate=False)

+------+--------+-----+----------+
|Sex   |Survived|count|ratio     |
+------+--------+-----+----------+
|male  |0       |468  |0.5252525 |
|female|1       |233  |0.26150393|
|female|0       |81   |0.09090909|
|male  |1       |109  |0.12233446|
+------+--------+-----+----------+

**Create temporary view PySpark:**

In [127]:
df_train.createOrReplaceTempView('Temp_view')

**How many people survived, and how many didn't survive? By SQL:**

In [129]:
spark.sql('SELECT Survived,COUNT(Survived) AS Count FROM Temp_view GROUP BY Survived').show()

+--------+-----+
|Survived|Count|
+--------+-----+
|       1|  342|
|       0|  549|
+--------+-----+

**Can you display the number of survivors from each gender as a ratio?**

(Hint: Group by "sex" column. This is a hint you can use any method.)

**Can you do this via SQL?**

In [134]:
spark.sql('SELECT SEX,SUM(Survived)/COUNT(Survived) AS Count FROM Temp_view GROUP BY SEX').show()

+------+-------------------+
|   SEX|              Count|
+------+-------------------+
|female| 0.7420382165605095|
|  male|0.18890814558058924|
+------+-------------------+

**Display a ratio for "p-class": SUM(Survived)/count for p-class**

In [138]:
spark.sql('SELECT Pclass, SUM(Survived)/COUNT(Pclass) AS Count FROM Temp_view GROUP BY Pclass').show()

+------+-------------------+
|Pclass|              Count|
+------+-------------------+
|     1| 0.6296296296296297|
|     3|0.24236252545824846|
|     2|0.47282608695652173|
+------+-------------------+

**Let's take a break and continue after this.**

## Data Cleaning

**First and foremost, we must merge both the train and test datasets. (Hint: The union function can do this.)**

In [152]:
combined = df_train.union(df_test)

**Display count:**

In [153]:
combined.count()

1329

**Can you define the number of null values in each column?**

**Create Dataframe for null values**

1. Column
2. Number of missing values.

In [154]:
combined.select([count(when(isnull(c), c)).alias(c) for c in df.columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|265|    0|    0|     0|   0| 1021|       3|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

## Preprocessing

**Create Temporary view PySpark:**

In [155]:
combined.createOrReplaceTempView('df_temp_view')

**Can you show the "name" column from your temporary table?**

In [156]:
spark.sql("SELECT Name From df_temp_view").show()

+--------------------+
|                Name|
+--------------------+
|Braund, Mr. Owen ...|
|Cumings, Mrs. Joh...|
|Heikkinen, Miss. ...|
|Futrelle, Mrs. Ja...|
|Allen, Mr. Willia...|
|    Moran, Mr. James|
|McCarthy, Mr. Tim...|
|Palsson, Master. ...|
|Johnson, Mrs. Osc...|
|Nasser, Mrs. Nich...|
|Sandstrom, Miss. ...|
|Bonnell, Miss. El...|
|Saundercock, Mr. ...|
|Andersson, Mr. An...|
|Vestrom, Miss. Hu...|
|Hewlett, Mrs. (Ma...|
|Rice, Master. Eugene|
|Williams, Mr. Cha...|
|Vander Planke, Mr...|
|Masselmani, Mrs. ...|
+--------------------+
only showing top 20 rows

**Run this code:**

In [157]:
import pyspark.sql.functions as F
combined = combined.withColumn('Title',F.regexp_extract(F.col("Name"),"([A-Za-z]+)\.",1))
combined.createOrReplaceTempView('combined')

**Display "Title" column and count "Title" column:**

In [165]:
#spark.sql('SELECT Title,COUNT(Title) AS Count FROM combined GROUP BY TITLE').show()
spark.sql('SELECT Title,COUNT(Title) AS Count FROM combined GROUP BY TITLE ORDER BY Count').show()

+--------+-----+
|   Title|Count|
+--------+-----+
|     Mme|    1|
|     Don|    1|
|      Ms|    1|
|Countess|    2|
|    Lady|    2|
|    Capt|    2|
|Jonkheer|    2|
|     Sir|    2|
|   Major|    3|
|    Mlle|    4|
|     Col|    4|
|     Rev|    9|
|      Dr|   11|
|  Master|   56|
|     Mrs|  186|
|    Miss|  257|
|      Mr|  786|
+--------+-----+

**We can see that Dr, Rev, Major, Col, Mlle, Capt, Don, Jonkheer, Countess, Ms, Sir, Lady, and Mme are really rare titles, so create Dictionary and set the value to "rare".**

In [182]:
#title_map = 
all_titles = combined.select(F.collect_list('Title')).first()[0]
all_titles = list(set(my_list))
all_titles

['Miss',
 'Mr',
 'Mlle',
 'Don',
 'Lady',
 'Col',
 'Major',
 'Sir',
 'Ms',
 'Countess',
 'Mrs',
 'Capt',
 'Rev',
 'Dr',
 'Jonkheer',
 'Mme',
 'Master']

In [194]:
titles_map = {title : 'rare' if title in title_list else 'not rare' for title in all_titles }
titles_map

{'Miss': 'not rare',
 'Mr': 'not rare',
 'Mlle': 'rare',
 'Don': 'rare',
 'Lady': 'rare',
 'Col': 'rare',
 'Major': 'rare',
 'Sir': 'rare',
 'Ms': 'rare',
 'Countess': 'rare',
 'Mrs': 'not rare',
 'Capt': 'rare',
 'Rev': 'rare',
 'Dr': 'rare',
 'Jonkheer': 'rare',
 'Mme': 'rare',
 'Master': 'not rare'}

**Run the function:**

In [195]:
def impute_title(title):
    return titles_map[title]# Title_map is your dictionary. please change this name with your dictionary name.

In [196]:
# test:
impute_title('Miss')

'not rare'

**Apply the function on "Title" column using UDF:**

In [203]:
@udf(returnType=StringType()) 
def impute_title(title):
    return titles_map[title]# Title_map is your dictionary. please change this name with your dictionary name.

combinedWithTitle = combined.withColumn("Title_Rare", impute_title(col("Title")))
combinedWithTitle.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|Title_Rare|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|    Mr|  not rare|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|   Mrs|  not rare|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|  Miss|  not rare|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|   Mrs|  not rare|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|    Mr|  not rare|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|    Mr|  not rare|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|    Mr|  not rare|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|Master|  not rare|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|   Mrs|  not rare|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|   Mrs|  not rare|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|  Miss|  not rare|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|  Miss|  not rare|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|    Mr|  not rare|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|    Mr|  not rare|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|  Miss|  not rare|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|   Mrs|  not rare|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|Master|  not rare|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|    Mr|  not rare|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|   Mrs|  not rare|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|   Mrs|  not rare|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+----------+
only showing top 20 rows

**Display "Title" from table and group by "Title" column:**

In [205]:
combinedWithTitle.groupBy("Title").count().show()

+--------+-----+
|   Title|count|
+--------+-----+
|     Don|    1|
|    Miss|  257|
|Countess|    2|
|     Col|    4|
|     Rev|    9|
|    Lady|    2|
|  Master|   56|
|     Mme|    1|
|    Capt|    2|
|      Mr|  786|
|      Dr|   11|
|     Mrs|  186|
|     Sir|    2|
|Jonkheer|    2|
|    Mlle|    4|
|   Major|    3|
|      Ms|    1|
+--------+-----+

## **Preprocessing Age**

**Based on the "age" column mean, you will fill in the missing age values:**

In [210]:
age_mean = combinedWithTitle.select(F.mean("Age")).collect()
age_mean[0][0]

30.079501879699244

**Fill missing with "age" mean:**

In [225]:
df_cleaned = combinedWithTitle.na.fill(age_mean[0][0],subset = ['Age'])
df_cleaned.show(truncate= False)

+-----------+--------+------+-------------------------------------------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+----------+
|PassengerId|Survived|Pclass|Name                                                   |Sex   |Age               |SibSp|Parch|Ticket          |Fare   |Cabin|Embarked|Title |Title_Rare|
+-----------+--------+------+-------------------------------------------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+----------+
|1          |0       |3     |Braund, Mr. Owen Harris                                |male  |22.0              |1    |0    |A/5 21171       |7.25   |null |S       |Mr    |not rare  |
|2          |1       |1     |Cumings, Mrs. John Bradley (Florence Briggs Thayer)    |female|38.0              |1    |0    |PC 17599        |71.2833|C85  |C       |Mrs   |not rare  |
|3          |1       |3     |Heikkinen, Miss. Laina                                 |female|26.0              |0    |0    |STON/O2. 3101282|7.925  |null |S       |Miss  |not rare  |
|4          |1       |1     |Futrelle, Mrs. Jacques Heath (Lily May Peel)           |female|35.0              |1    |0    |113803          |53.1   |C123 |S       |Mrs   |not rare  |
|5          |0       |3     |Allen, Mr. William Henry                               |male  |35.0              |0    |0    |373450          |8.05   |null |S       |Mr    |not rare  |
|6          |0       |3     |Moran, Mr. James                                       |male  |30.079501879699244|0    |0    |330877          |8.4583 |null |Q       |Mr    |not rare  |
|7          |0       |1     |McCarthy, Mr. Timothy J                                |male  |54.0              |0    |0    |17463           |51.8625|E46  |S       |Mr    |not rare  |
|8          |0       |3     |Palsson, Master. Gosta Leonard                         |male  |2.0               |3    |1    |349909          |21.075 |null |S       |Master|not rare  |
|9          |1       |3     |Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      |female|27.0              |0    |2    |347742          |11.1333|null |S       |Mrs   |not rare  |
|10         |1       |2     |Nasser, Mrs. Nicholas (Adele Achem)                    |female|14.0              |1    |0    |237736          |30.0708|null |C       |Mrs   |not rare  |
|11         |1       |3     |Sandstrom, Miss. Marguerite Rut                        |female|4.0               |1    |1    |PP 9549         |16.7   |G6   |S       |Miss  |not rare  |
|12         |1       |1     |Bonnell, Miss. Elizabeth                               |female|58.0              |0    |0    |113783          |26.55  |C103 |S       |Miss  |not rare  |
|13         |0       |3     |Saundercock, Mr. William Henry                         |male  |20.0              |0    |0    |A/5. 2151       |8.05   |null |S       |Mr    |not rare  |
|14         |0       |3     |Andersson, Mr. Anders Johan                            |male  |39.0              |1    |5    |347082          |31.275 |null |S       |Mr    |not rare  |
|15         |0       |3     |Vestrom, Miss. Hulda Amanda Adolfina                   |female|14.0              |0    |0    |350406          |7.8542 |null |S       |Miss  |not rare  |
|16         |1       |2     |Hewlett, Mrs. (Mary D Kingcome)                        |female|55.0              |0    |0    |248706          |16.0   |null |S       |Mrs   |not rare  |
|17         |0       |3     |Rice, Master. Eugene                                   |male  |2.0               |4    |1    |382652          |29.125 |null |Q       |Master|not rare  |
|18         |1       |2     |Williams, Mr. Charles Eugene                           |male  |30.079501879699244|0    |0    |244373          |13.0   |null |S       |Mr    |not rare  |
|19         |0       |3     |Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)|female|31.0              |1    |0    |345763          |18.0   |null |S       |Mrs   |not rare  |
|20         |1       |3     |Masselmani, Mrs. Fatima                                |female|30.079501879699244|0    |0    |2649            |7.225  |null |C       |Mrs   |not rare  |
+-----------+--------+------+-------------------------------------------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+----------+
only showing top 20 rows

## **Preprocessing Embarked**

**Select "Embarked" column, count them, order by count Desc, and save in grouped_Embarked variable:**

In [213]:
embarked = df_cleaned.groupBy("Embarked").count().orderBy('count',ascending = False)

**Show "groupped_Embarked" your variable:**

In [214]:
embarked.show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       S|  962|
|       C|  253|
|       Q|  111|
|    null|    3|
+--------+-----+

**Get max of groupped_Embarked:**

In [216]:
embarked_max = grouped_Embarked.first()[0]
embarked_max

'S'

**Fill missing values with max 'S' of grouped_Embarked:**

In [226]:
df_cleaned = df_cleaned.na.fill(embarked_max, subset=['Embarked'])
df_cleaned.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|Title_Rare|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25| null|       S|    Mr|  not rare|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|  C85|       C|   Mrs|  not rare|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|  Miss|  not rare|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1| C123|       S|   Mrs|  not rare|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05| null|       S|    Mr|  not rare|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583| null|       Q|    Mr|  not rare|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|  E46|       S|    Mr|  not rare|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075| null|       S|Master|  not rare|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333| null|       S|   Mrs|  not rare|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708| null|       C|   Mrs|  not rare|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|   G6|       S|  Miss|  not rare|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55| C103|       S|  Miss|  not rare|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05| null|       S|    Mr|  not rare|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275| null|       S|    Mr|  not rare|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542| null|       S|  Miss|  not rare|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0| null|       S|   Mrs|  not rare|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125| null|       Q|Master|  not rare|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0| null|       S|    Mr|  not rare|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0| null|       S|   Mrs|  not rare|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225| null|       C|   Mrs|  not rare|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+----------+
only showing top 20 rows

## **Preprocessing Cabin**

**Replace "cabin" column with first char from the string:**

In [227]:
from pyspark.sql.functions import substring
df_cleaned = df_cleaned.withColumn('Cabin', substring('Cabin', 1, 1))
df_cleaned.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Title|Title_Rare|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----+----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|   Mr|  not rare|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|    C|       C|  Mrs|  not rare|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S| Miss|  not rare|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|    C|       S|  Mrs|  not rare|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|   Mr|  not rare|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----+----------+
only showing top 5 rows

**Create the temporary view:**

In [228]:
df_cleaned.createOrReplaceTempView("DFCLEANED_TEMP_VIEW")

**Select "Cabin" column, count "Cabin" column, Group by "Cabin" column, Order By count DESC**

In [229]:
spark.sql("SELECT Cabin, COUNT(Cabin) as Count FROM DFCLEANED_TEMP_VIEW Group By Cabin ORDER BY Count").show()

+-----+-----+
|Cabin|Count|
+-----+-----+
| null|    0|
|    T|    1|
|    G|    4|
|    F|   18|
|    A|   23|
|    E|   51|
|    D|   52|
|    B|   77|
|    C|   82|
+-----+-----+

**Fill missing values with "U":**

In [230]:
df_cleaned = df_cleaned.na.fill('U', subset=['Cabin'])
df_cleaned.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|Title_Rare|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25|    U|       S|    Mr|  not rare|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|    C|       C|   Mrs|  not rare|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925|    U|       S|  Miss|  not rare|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1|    C|       S|   Mrs|  not rare|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05|    U|       S|    Mr|  not rare|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583|    U|       Q|    Mr|  not rare|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|    E|       S|    Mr|  not rare|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075|    U|       S|Master|  not rare|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333|    U|       S|   Mrs|  not rare|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708|    U|       C|   Mrs|  not rare|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|    G|       S|  Miss|  not rare|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55|    C|       S|  Miss|  not rare|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05|    U|       S|    Mr|  not rare|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275|    U|       S|    Mr|  not rare|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542|    U|       S|  Miss|  not rare|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0|    U|       S|   Mrs|  not rare|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125|    U|       Q|Master|  not rare|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0|    U|       S|    Mr|  not rare|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0|    U|       S|   Mrs|  not rare|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225|    U|       C|   Mrs|  not rare|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+----------+
only showing top 20 rows

In [232]:
categoricalCols = [col for (col, colType) in df_cleaned.dtypes 
                   if colType == 'string']
print("Categorical Cols:", categoricalCols)

indexOutputCols = [col +'_index' for col in categoricalCols]
print("Index Cols:", indexOutputCols)

oheOutputCols = [col +'_OHE' for col in categoricalCols]
print("OHE Cols:", oheOutputCols)

Categorical Cols: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Title', 'Title_Rare']
Index Cols: ['Name_index', 'Sex_index', 'Ticket_index', 'Cabin_index', 'Embarked_index', 'Title_index', 'Title_Rare_index']
OHE Cols: ['Name_OHE', 'Sex_OHE', 'Ticket_OHE', 'Cabin_OHE', 'Embarked_OHE', 'Title_OHE', 'Title_Rare_OHE']

**StringIndexer: A label indexer that maps a string column of labels to an ML column of label indices. If the input column is numeric, we cast it to string and index the string values. The indices are in [0, numLabels). By default, this is ordered by label frequencies so the most frequent label gets index 0. The ordering behavior is controlled by setting stringOrderType. Its default value is ‘frequencyDesc’.**

In [231]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder

**StringIndexer(inputCol=None, outputCol=None)**

In [233]:
stringIndexer = StringIndexer(inputCols = categoricalCols,
                              outputCols= indexOutputCols,
                             handleInvalid='skip')

**OneHotEncoder(inputCols=None, outputCols=None)**

A one-hot encoder that maps a column of category indices to a column of binary vectors, with at most a single one-value per row that indicates the input category index. For example with 5 categories, an input value of 2.0 would map to an output vector of [0.0, 0.0, 1.0, 0.0]. The last category is not included by default (configurable via dropLast), because it makes the vector entries sum up to one, and hence linearly dependent. So an input value of 4.0 maps to [0.0, 0.0, 0.0, 0.0].

In [234]:
oheEncoder = OneHotEncoder(inputCols=indexOutputCols,
                           outputCols=oheOutputCols)

In [235]:
numricCol = [col for (col, colType) in df_cleaned.dtypes
            if ((colType=='double')& (col!='crew'))]
print('Numeric Col:',numricCol)

Numeric Col: ['Age', 'Fare']

In [236]:
assemeberlInputs = oheOutputCols + numricCol
assemeberlInputs

['Name_OHE',
 'Sex_OHE',
 'Ticket_OHE',
 'Cabin_OHE',
 'Embarked_OHE',
 'Title_OHE',
 'Title_Rare_OHE',
 'Age',
 'Fare']

**VectorAssembler: VectorAssembler(*, inputCols=None, outputCol=None). A feature transformer that merges multiple columns into a vector column.**

In [237]:
from pyspark.ml.feature import VectorAssembler
vecAssembler = VectorAssembler(inputCols=assemeberlInputs, outputCol='features')

**Use randomSplit function and split data to x_train, and X_test with 80% and 20% Consecutive**

In [238]:
# Splitting Data
train_df , test_df = df_cleaned.randomSplit([0.8, 0.2] , seed = 42)
print(f"There are {train_df.count()} rows in the training set, and {test_df.count()} in the test set")

There are 1094 rows in the training set, and 235 in the test set

**Pipeline: ML Pipelines provide a uniform set of high-level APIs built on top of DataFrames that help users create and tune practical machine learning pipelines.**

**Build RandomForestClassifier model and use pipeline to fit and transform then display "prediction, Survived, features" columns**

In [239]:
from pyspark.ml.classification import RandomForestClassifier
rf = RandomForestClassifier(labelCol='Survived',featuresCol='features')

In [241]:
# Building the pipeline
from pyspark.ml import Pipeline
pipeline =Pipeline(stages = [stringIndexer,oheEncoder,vecAssembler,rf])

pipelineModel = pipeline.fit(train_df)
predictions = pipelineModel.transform(test_df)
predictions.select("prediction", "Survived", "features").show(5)

+----------+--------+--------------------+
|prediction|Survived|            features|
+----------+--------+--------------------+
|       0.0|       0|(1472,[600,811,11...|
|       1.0|       1|(1472,[533,1414,1...|
|       0.0|       0|(1472,[684,811,87...|
|       1.0|       1|(1472,[515,1225,1...|
|       0.0|       1|(1472,[366,811,11...|
+----------+--------+--------------------+
only showing top 5 rows

**Use MulticlassClassificationEvaluator and set the "labelCol" to "Survived",  "predictionCol" to "prediction", "metricName" to "accuracy"**

In [245]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
classificationEvaluator = MulticlassClassificationEvaluator(predictionCol='prediction',
                                         labelCol='Survived',
                                         metricName='accuracy')
accuracy = classificationEvaluator.evaluate(predictions)
accuracy

0.7972027972027972

**When you are finished send the project via Google classroom**
**Please let me know if you have any questions.**
* nabieh.mostafa@yahoo.com
* +201015197566 (Whatsapp)

**Don't Hate me, I push you to learn**

**I will help you to become an awesome data engineer.**

**Why did I say that "Data Engineer"?**

**Tricky question, but an optional question, if you would like to know the answer, ask me.**